<!DOCTYPE html>
<html lang="en" ng-app="GifSplashSearch">
  <head>
    <meta charset="utf-8">
    <title>GifSplash</title>
    <link rel="stylesheet" type="text/css" href="public/style.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/gifsplashSearchController.js"></script>
  </head>

  <body ng-controller="GifSplashSearchController as searchCtrl">
    <div style="width:100%; height:100%">
      <div class="central">
        <a  href="#" ng-click="searchCtrl.doSearch()">BOOBS</a>
      </div>
      <div ng-repeat="gif in searchCtrl.searchResult" style="display:inline-block">
        <iframe ng-src="{{searchCtrl.getIframeSrc(gif.src)}}" width="100%"
          height="100%" frameBorder="0"></iframe>
      </div>
    </div>
  </body>

</html>
